/* defaults */
blockquote {
    font-style: italic;
    border-left: 3px solid black;
    margin-left: 0px;
    padding-left: 10px;
}

code {
    font-family: monospace;
    word-wrap: break-word;
}

p {
    text-indent: 1em;
}

pre > code {
    line-height: 1.5;
}

pre {
    border-left: 3px solid black;
    background-color: rgb(240, 240, 240);
    padding-left: 10px;
    text-align: left;
    white-space: pre-wrap;
    font-size: 75%;
}

/* general hs imported styles */

body {
 font-family:adobe-garamond-pro, serif;
 font-weight:normal
}
span.opener {
 float:left;
 font-family:'Homestuck-Regular', monospace;
 line-height:0.825
}
div.chat {
 margin:15px 0px 15px 25px;
 font-family:"courier-std", courier, monospace
}
div.chat p {
 text-indent:0px;
 font-weight:bold
}
p.Command {
 text-indent:0px;
 margin:15px 0px 15px 25px;
 font-family:Verdana, sans-serif
}

.type-xxl {
font-size:74px
}
.type-hs-opener-rg {
font-size:65px
}
.type-xl {
font-size:56px
}
.type-hs-opener-sm {
font-size:51px
}
.type-lg {
font-size:39px
}
.type-md {
font-size:28px
}
.type-hs-header {
font-size:32px
}
.type-hs-copy {
font-size:24px
}
.type-rg {
font-size:20px
}
.type-hs-rg {
font-size:18px
}
.type-sm {
font-size:16px
}
.type-hs-small {
font-size:14px
}
.type-bs {
font-size:12px
}
.type-hs-button {
font-size:11px
}
.type-hs-bottom {
font-size:10px
}
.type-center {
text-align:center
}
.type-left {
text-align:left
}
.type-right {
text-align:right
}

p.no-indent {
 text-indent:0px
}

.weight-bold {
 font-weight:700
}

/* character styles */

.aranea {
 color:#005682
}
.aradia {
 color:#a10000
}
.caliborn {
 color:#2ed73a
}
.calliope {
 color:#a1a3a6
}
.calliope-dead {
 color:#ff0000
}
.calliope-dead-story {
 font-family:adobe-garamond-pro, serif;
 font-weight:normal;
 color:#000000
}
.dave {
 color:#e00707
}
.davepetasprite {
 color:#416600
}
.davepetasprite-dialogue {
 color:#f2a400
}
.dirk {
 color:#f2a400
}
.eridan {
 color:#7e0048
}
.feferi {
 color:#77003c
}
.gamzee {
 color:#2b0057
}
.harry {
 color:#0671cd
}
.jade {
 color:#4ac925
}
.jade-brainwashed {
 color:#000000
}
.jake {
 color:#1f9400
}
.jane {
 color:#0097d7
}
.john {
 color:#0715cd
}
.kanaya {
 color:#008141
}
.karkat {
 color:#7c7e81
}
.obama {
 color:#000000
}
.rose {
 color:#b536da
}
.roxy {
 color:#ff6ff2
}
.sollux {
 color:#a1a100
}
.swifer {
 color:#008141
}
.tavros {
 color:#a15000
}
.tavros-kid {
 color:#2b0057
}
.terezi {
 color:#008282
}
.vriska {
 color:#005682
}